.success {
  background-color: #4A93C2;
  border-radius: 30px;
  border: 2px solid black;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  padding: 8px;
  text-align: center;
  width: 300px;
  margin: 5px 10px 5px auto;
}

.x-button {

}
