.App {
  display: flex;
  flex-direction: column;
  background-color: #141940;
  padding: 10px;
}

.App-header {
  background-color: #5263FF;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

h2, h3 {
  color: white;
  margin: 5px;
}

@media screen and (min-width: 460px) {
  body,
  input,
  textarea {
    font-size: 1.1em;
  }
}
